body {
    background-image: url(../../assets/images/prism.png);
    text-align: center;
    color: lightslategrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 1px black;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 24pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
p {
    font-size: 14pt;
    font-weight: lighter;
}
#goal, #score, #reset-button {
    margin: 10px;
    font-family: 'Arial Narrow', sans-serif;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#prompter {
    height: 65px;
    margin: 0%;
}

#reset-button {
    width: 90px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12pt;
    /* font-weight: bold; */
    text-shadow: 1px 0px 1px black;
    background: lightsteelblue;
    color: lightslategrey;
    font-family: 'Arial Narrow', sans-serif;
    border-radius: 7px;
}

#wrapper, #rules {
    width: 75%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 219, 219, .3);
    padding: 20px;
    border-radius: 15px;
}

#wins, #losses {
    font-size: 18pt;
}

i {
    font-size: 24pt;
    margin-left: 30px;
    margin-right: 30px;
}